Q1. What is a database? Differentiate between SQL and NoSQL databases

Database:
A database is a structured collection of data that is organized and stored for efficient retrieval and management. It can store a variety of data types, such as text, numbers, images, and more. Databases are crucial for storing and managing large volumes of data in a way that allows for easy access, retrieval, and manipulation.

SQL (Structured Query Language) Databases:
SQL databases are relational databases that use a structured query language (SQL) for defining and manipulating the data. These databases use a schema to define the structure of the data, and they are typically well-suited for complex query-intensive operations. SQL databases are known for their ACID (Atomicity, Consistency, Isolation, Durability) properties, which ensure data integrity.

Examples of SQL databases include MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.

NoSQL Databases:
NoSQL databases, as the name suggests, do not use SQL as their primary query language. They are designed to handle large volumes of unstructured or semi-structured data and are often used for scenarios where scalability, flexibility, and performance are crucial. NoSQL databases can be categorized into several types, including document-oriented, key-value stores, column-family stores, and graph databases.

Some popular NoSQL databases include MongoDB (document-oriented), Cassandra (column-family), Redis (key-value), and Neo4j (graph).

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language):
DDL, or Data Definition Language, is a subset of SQL that deals with the definition or structure of the database. 
It includes statements for creating, altering, and deleting database objects such as tables, indexes, and views.
DDL statements are not concerned with the manipulation of data itself but rather with the definition of the database structure.

Examples of DDL Statements:

    CREATE:
        The CREATE statement is used to create database objects such as tables, indexes, or views.
        Example: Creating a new table named Employees with columns for employee information.

    sql

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    HireDate DATE
);

DROP:

    The DROP statement is used to remove database objects (tables, indexes, etc.) from the database.
    Example: Dropping the Employees table.

sql

DROP TABLE Employees;

ALTER:

  The ALTER statement is used to modify the structure of an existing database object, such as adding
or removing columns from a table.
    Example: Adding a new column named Salary to the Employees table.

sql

ALTER TABLE Employees
ADD Salary DECIMAL(10, 2);

TRUNCATE:

The TRUNCATE statement is used to remove all rows from a table while keeping the table structure for future use.
 It is faster than the DELETE statement and does not log individual row deletions.
    Example: Truncating the data in the Employees table.

sql

    TRUNCATE TABLE Employees;

Explanation:

CREATE: Used to define and create a new database object, such as a table. 
In the example, the CREATE TABLE statement defines a new table named Employees with specific columns 
   and their data types.

DROP: Used to remove a database object. The DROP TABLE statement in the example removes
the Employees table from the database.

ALTER: Used to modify the structure of an existing database object. The ALTER TABLE statement
in the example adds a new column named Salary to the Employees table.

TRUNCATE: Used to quickly remove all rows from a table without logging individual row deletions.
The TRUNCATE TABLE statement in the example removes all data from the Employees table.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language):
DML, or Data Manipulation Language, is a subset of SQL that deals with the manipulation of data stored in the database. DML statements are used to insert, update, and delete data within database tables. Unlike DDL (Data Definition Language), which focuses on the structure of the database, DML focuses on the content of the database.

Examples of DML Statements:  
  INSERT: Used to add new rows of data to a table. In the example, the INSERT INTO statement adds a new employee record with specific values for the EmployeeID, FirstName, LastName, and HireDate columns.

    UPDATE: Used to modify existing data in a table. The UPDATE statement in the example changes the Salary value for an employee with EmployeeID equal to 1.

    DELETE: Used to remove rows from a table based on a specified condition. The DELETE FROM statement in the example removes the employee record with EmployeeID equal to 1 from the Employees table.

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language):
DQL, or Data Query Language, is a subset of SQL that deals with the retrieval of data from a database. The primary statement used in DQL is SELECT, which allows you to query and retrieve data from one or more tables.

Example of SELECT statement:
Suppose we have a table named Students with columns StudentID, FirstName, LastName, and Age. We can use the SELECT statement to retrieve information from this table.

sql

-- Simple SELECT statement to retrieve all columns from the Students table
SELECT * FROM Students;

This query retrieves all columns (* indicates all columns) from the Students table.

sql

-- SELECT statement with specific columns and a WHERE clause
SELECT FirstName, LastName, Age
FROM Students
WHERE Age > 20;

This query selects only the FirstName, LastName, and Age columns from the Students table for rows where the Age is greater than 20.

Q5. Explain Primary Key and Foreign Key.

Primary Key:
A primary key is a column or a set of columns in a database table that uniquely identifies each record in that table. It must contain unique values and cannot have NULL values. The primary key is used to establish relationships between tables, and it ensures the integrity and uniqueness of each record in the table.

Example of defining a primary key in a table:

sql

CREATE TABLE Students (
    StudentID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Age INT
);

In this example, the StudentID column is the primary key.

Foreign Key:
A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. It establishes a link between the two tables, creating a relationship. The foreign key is used to ensure referential integrity, meaning that each value in the foreign key column must match a value in the primary key of the referenced table or be NULL.

Example of defining a foreign key in a table:

sql

CREATE TABLE Courses (
    CourseID INT PRIMARY KEY,
    CourseName VARCHAR(50),
    InstructorID INT,
    FOREIGN KEY (InstructorID) REFERENCES Instructors(InstructorID)
);

In this example, the InstructorID column in the Courses table is a foreign key that references the InstructorID primary key in the Instructors table.

Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.

To connect MySQL to Python, you can use the mysql-connector-python library. First, install the library using:

bash

pip install mysql-connector-python

Now, here's a simple Python code example to connect to a MySQL database, create a cursor, and execute a basic SQL query:

python

import mysql.connector

# Replace the placeholders with your MySQL database credentials
db_config = {
    'host': 'your_host',
    'user': 'your_username',
    'password': 'your_password',
    'database': 'your_database',
}

# Establish a connection to the MySQL database
connection = mysql.connector.connect(**db_config)

# Create a cursor object to interact with the database
cursor = connection.cursor()

# Example SQL query to create a table
create_table_query = """
CREATE TABLE IF NOT EXISTS ExampleTable (
    ID INT PRIMARY KEY,
    Name VARCHAR(50)
)
"""

# Execute the SQL query
cursor.execute(create_table_query)

# Commit the changes to the database
connection.commit()

# Close the cursor and the database connection
cursor.close()
connection.close()

Explanation:

    The mysql.connector.connect(**db_config) statement establishes a connection to the MySQL database using the provided configuration.
    The cursor() method creates a cursor object, which is used to interact with the database.
    The execute() method is used to execute SQL queries. In this example, it executes a query to create a table (ExampleTable). Note that IF NOT EXISTS ensures that the table is created only if it doesn't already exist.
    The commit() method is called to commit the changes to the database. This step is essential for making permanent changes.
    Finally, the close() method is used to close the cursor and the database connection.

Q7. Give the order of execution of SQL clauses in an SQL query.

In a SQL query, the clauses are typically executed in the following order:

    FROM: Specifies the tables from which data will be retrieved.
    WHERE: Applies conditions to filter the rows retrieved from the tables specified in the FROM clause.
    GROUP BY: Groups the result set based on one or more columns.
    HAVING: Applies conditions to the grouped rows, similar to the WHERE clause but for grouped data.
    SELECT: Specifies the columns to be retrieved from the tables.
    ORDER BY: Sorts the result set based on one or more columns.
    LIMIT / OFFSET (or FETCH FIRST / NEXT): Limits the number of rows returned or skips a specified number of rows (not supported by all database systems).